// colours that are cycled for the background animation.
$animation-color-1: #aad576;
$animation-color-2: #73a942;
$animation-color-3: #2f7d03;

// background colour of the nav bar
$nav-background-color: #BED6EB;

// background colour for the content blocks
$background-color: #e4ebdc;

// background colour of the footer
$footer-background-color: #143601;